__pycache__/
.ipynb_checkpoints/
.venv/
albums.csv
.vscode/
*.code-workspace
*.ipynb
*.toml
test.*
*.png
*.psd
*.jpg
nzbfix.__pycache__
duck.py
flac_metadata.duckdb
.idea/
Brewfile
*.flac
config.py
docker-compose.yml
deploy-linux.sh
koehntopp@*
*.tar
*.log
rclone.log
