__pycache__/
.ipynb_checkpoints/
.venv/
albums.csv
.vscode/
*.code-workspace
*.ipynb
*.toml
test.*
*.png
*.psd
*.jpg
nzbfix.__pycache__
duck.py
flac_metadata.duckdb
.idea/discogs.iml
Brewfile
.idea/misc.xml
.gitignore
.idea/vcs.xml
.gitignore
.gitignore
.idea/modules.xml
.gitignore
.idea/inspectionProfiles/profiles_settings.xml
*.flac
config.py