flac
.venv
.lyndisk
*.ipynb
.DS_Store
pyproject.toml
config.py
drmeter*
lrclib.py
launch.json
mymusic.txt
.discogs_rename.py.swp
requirements.txt
.discogs_rename.py.swp
discogs.code-workspace
*.swp
*.pyc
51check.py
albums.csv
code_snippets.py
drtagger.py
mbrainz.py
nzbfix
roon_rename.org.py
roon_rename.py
roon.py
test.txt
Untitled.ipynb
@eaDir/*
.ipynb_checkpoints/*
00_todo.txt
Untitled1.ipynb
discogs_dump.ipynb
lrclib.py
